.for-bg{
    background-image: url(./2d499a36-12c8-459d-a2b5-c9168496d003/section-bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
/* .sti{
    position: sticky;
    top: 0;
} */